.language-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .arrow-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.open {
    transform: rotate(180deg);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    background-color: #635858;
    border: 1px solid #c44040;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  