.card{
    top: 0;
    left: 0;
    background-color: white;
    max-height: 22.8rem;
    max-width: 15.7rem;
    padding: 1.5rem 1.6rem;
    margin-left: 1.1rem;
}
.title{
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: .5rem;
}
.card-img{
    height: 19rem;
    width: 16rem;
    padding-bottom: 1rem;
}
.see-more{
    color: #007185;
    text-decoration: none;
    font-size: .85rem;
}
.see-more:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c7511f;
}